<div class="container">
  <nav class="nav d-flex justify-content-between w-100 py-2">
    <a
      class="btn btn-primary text-light text-decoration-none"
      <% if(name) { %>
      href="/?user=<%= name %>"
      <% } else { %>
      href="/"
      <% } %>
      ><ion-icon name="home"></ion-icon></ion-icon
    ></a>
  </nav>
</div>
<main>
  <div class="container py-5">
    <div class="row text-center">
      <h1>Game History Table</h1>
    </div>
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table
            class="
              table table-hover table-light table-striped
              align-middle
              bordered
              my-3
            "
          >
            <thead class="table-primary text-center">
              <tr>
                <th>No.</th>
                <th>Player One</th>
                <th>Player Two</th>
                <th>Winner</th>
                <th>Room</th>
                <th>Result</th>
                <th>Times</th>
              </tr>
            </thead>
            <tbody>
              <% if(game.length) { %> <% game.map((item, index) => { %>
              <tr>
                <th class="text-center"><%= index+1 %></th>
                <th><%= item.player_one %></th>
                <th><%= item.player_two %></th>
                <th><%= item.winner %></th>
                <th><%= item.room %></th>
                <th><%= item.result %></th>
                <th><%= item.times %></th>
              </tr>
              <% }) %> <% } else { %>
              <tr>
                <th class="text-center" colspan="6">Data still empty</th>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>